/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
body {
    font-family: 'Montserrat', sans-serif;
}

/* container */
.container {
    width: 70%;
    margin: 10px auto;
}

/* logo */
#logo-container {
    width: 13%;
    border-right: 1px solid #C0C0C0;    
}
#logo-container > img {
    height: 50px;   
}

/* navbar */
nav {
    height: 100px;
}
.list-inline {
    line-height: 80px;
}
.list-inline > li {
    display: inline-block;
    padding: 10px 10px 10px 0;
    list-style: none;
}
.list-inline a {
    text-decoration: none;
    color:  #C0C0C0;
    text-transform: uppercase;
}
.list-inline a:hover {
    color: #000;
}

/* banner */
.banner {
    background-color: #DAA520;
    height: 300px;
    margin: 20px 0;
}

/* main */
main {
    background-color: #4169E1;
}
/* main-container & clearfix */
.main-container {
    padding: 15px 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* /main-container & clearfix */
 section.top {
    height: 80px;
    background-color: #87CEEB;
}
aside.left,
aside.right {
    float: left;
    width: 19%;
    height: 360px;
    background-color: #87CEEB;
}
section.center {
    float: left; 
    width: 60%;
    height: 360px;
    margin: 0 1%;
    background-color: #87CEEB;
}

/* footer */
footer {
    height: 50px;
    margin-top: 10px;
    background-color: #483D8B;
}